## Dotfiles
.*
!.gitignore

## Github
!.github/

## Serena
!.serena/
.serena/cache/

## npm
package-lock.json
node_modules/

## Playwright
playwright-report/
test-results/

## Other tools
docs/screenshots/
frames/
